@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    position: relative;
    float: left;
    width: 100%;
    background-color: #E5E5E5;
    min-width: 360px;
}
body::-webkit-scrollbar{ display: none; }
body.scrolllock{
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}
.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 0;
    line-height: 0;
}
header{
    position: relative;
    float: left;
    width: 100%;
    height: 100vh;
/*     min-height: 580px; */
/*     overflow: hidden; */
    background-color: #B7EF9D;
}
header.scrolllock{
    height: 100vh;
}
header.hide{
    height: 0;
}
header.dark{
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgb(24 0 0) 55%);
}
.header_bg_img{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background: url(../img/main_bg_dark.png) no-repeat right;
    mix-blend-mode: exclusion;
    background-size: contain;
    opacity: .85;
    animation: header_bg_img 2s linear;
}
.header_bg_img.dark{
    background: url(../img/main_bg_dark_raha.png) no-repeat left;
    mix-blend-mode: exclusion;
    background-size: contain;
    animation: header_bg_img_dark 6s linear;
}
.header_bg_img.dark2{
    background: url(../img/main_bg_dark_raha.png) no-repeat left;
    mix-blend-mode: exclusion;
    background-size: contain;
    animation: header_bg_img_dark2 2s linear;
}
.header_bg_img.resize{
    background-size: cover;
}
.header_wrapper{
    position: relative;
    float: left;
/*     margin-top: 32px; */
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    height: 100%;
}
.logo{
    position: absolute;
    float: left;
    width: 48px;
    height: 48px;
    margin-top: 32px;
    font-family: 'Slabo 27px', serif;
    font-size: 2.625em;
    z-index: 1;
}
.logo a{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #298200;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.logo a.dark{
    color: #eb4444;
}
.logo_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #298200;
    box-sizing: border-box;
}
.logo_bg.dark{
    border: 2px solid #eb4444;
}
.logo_bg.rotate{
    animation: logo_rotate 2s linear infinite;
}
.pc_nav{
    position: absolute;
    right: 0;
    margin-top: 32px;
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: 400;
    font-size: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 400px;
    height: 35px;
    opacity: 0;
    animation: nav_animation 1.7s linear;
    animation-delay: 3.3s;
    z-index: 1;
}
.pc_nav.dark{
    background-color: rgba(255, 255, 255, .75);
}
.pc_nav.show{
    opacity: 100%;
}
.main_menu{
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu li{
    position: relative;
    float: left;
    margin-right: 40px;
    width: 100%;
    text-align: center;
}
.main_menu li:nth-child(1):hover:after,.main_menu li:nth-child(2):hover:after, .main_menu li:nth-child(3):hover:after, .main_menu li:nth-child(4):hover:after{
    content: '';
    position: absolute;
    top: 30px;
    left: 0;
    width: 65px;
    height: 65px;
    display: block;
    animation: menu_animate .8s linear infinite;
}
.main_menu li:nth-child(1):hover:after{
   background:url(../img/about.png) no-repeat center;
   background-size: cover;
}
.main_menu li:nth-child(2):hover:after{
   background:url(../img/works.png) no-repeat center;
   background-size: cover;
}
.main_menu li:nth-child(3):hover:after{
   background:url(../img/blog.png) no-repeat center;
   background-size: cover;
}
.main_menu li:nth-child(4):hover:after{
   background:url(../img/contact.png) no-repeat center;
   background-size: cover;
}
.main_menu li.dark:nth-child(1):hover:after{
   background:url(../img/about_dark.png) no-repeat center;
   background-size: cover;
}
.main_menu li.dark:nth-child(2):hover:after{
   background:url(../img/works_dark.png) no-repeat center;
   background-size: cover;
}
.main_menu li.dark:nth-child(3):hover:after{
   background:url(../img/blog_dark.png) no-repeat center;
   background-size: cover;
}
.main_menu li.dark:nth-child(4):hover:after{
   background:url(../img/contact_dark.png) no-repeat center;
   background-size: cover;
}
.main_menu li:last-child{
    margin-right: 0;
}
.main_menu li:hover{
    cursor: pointer;
    font-weight: bold;
}
.main_menu li a{
    color: black;
    text-decoration: none;
    display: block;
}
.menu_icon{
    position: fixed;
    float: left;
    top: 5px;
    right: 15px;
    background: url(../img/icon/mobile_menu.png) no-repeat center;
    background-size: 33px 33px;

    border-radius: 50%;
    width: 45px;
    height: 45px;
/*     border: 1.5px solid #298200; */
    box-sizing: border-box;
    cursor: pointer;
    z-index: 2;
    display: none;
}
.menu_icon.dark{
    background: url(../img/icon/mobile_menu_dark.png) no-repeat center;
    background-size: 33px 33px;
/*     background-color: white; */
/*     border: 1.5px solid #ff4242; */
}
.menu_icon.hide{
    z-index: -1;
}
.mobile_nav_wrapper{
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .75);
    z-index: -1;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.mobile_nav_wrapper.show{
    z-index: 2;
    opacity: 1;
}
.mobile_nav{
    position: relative;
    float: left;
    top: 0;
    right: -3%;
    width: 50%;
    height: 100%;
    z-index: 1;
    background: transparent;
}
.mobile_menu{
    position: relative;
    float: right;
    width: 110%;
    height: 100%;
    background-color: rgb(24 0 0);
    color: white;
    transition: all .5s ease-in-out;
/*     transition-delay: .3s; */
    opacity: 0;
    transform: translateX(260%);
}
.mobile_menu.show{
    opacity: 1;
    transform: translateX(90%);
}
.mobile_menu.dark{
    color: black;
    background-color: #ef9d9d;
}
.mobile_menu li{
    position: relative;
    display: block;
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: 400;
    flex-direction: row;
    margin: 35px 0 40px 30px;
    font-size: 1em;
    width: 100px;
    cursor: pointer;
}
.mobile_menu li:hover{
    font-weight: bold;
}
.mobile_menu li:nth-child(1){
    margin-top: 40px;
    font-weight: bold;
}
.mobile_menu li:nth-child(1):after, .mobile_menu li:nth-child(2):after, .mobile_menu li:nth-child(3):after, .mobile_menu li:nth-child(4):after, .mobile_menu li:nth-child(5):after{
    content: '';
    position: relative;
    float: right;
    top: -11px;
    width: 40px;
    height: 40px;
    z-index: -1;
}
.mobile_menu li:nth-child(1):after{
    background: url(../img/icon/main_mobile.png) no-repeat center;
    background-size: cover;
    width: 37px;
    height: 37px;
}
.mobile_menu li.dark:nth-child(1):after{
    background: url(../img/icon/main_mobile_dark.png) no-repeat center;
    background-size: cover;
    width: 37px;
    height: 37px;
}
.mobile_menu li:nth-child(2):after{
    background: url(../img/about.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li:nth-child(3):after{
    background: url(../img/works.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li:nth-child(4):after{
    background: url(../img/blog.png) no-repeat center;
    background-size: cover;
    top: -25px;
}
.mobile_menu li:nth-child(5):after{
    background: url(../img/contact.png) no-repeat center;
    background-size: cover;
    top: -25px;
}
.mobile_menu li.dark:nth-child(2):after{
    background: url(../img/about_dark.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li.dark:nth-child(3):after{
    background: url(../img/works_dark.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li.dark:nth-child(4):after{
    background: url(../img/blog_dark.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li.dark:nth-child(5):after{
    background: url(../img/contact_dark.png) no-repeat center;
    background-size: cover;
}
.mobile_menu li a{
    text-decoration: none;
    color: white;
    display: block;
}
.mobile_menu li.dark a{
    color: black;
}
.close_btn{
    position: fixed;
    float: left;
    top: 28px;
    right: 17px;
    background: url(../img/icon/close_dark.png) no-repeat center;
    background-size: cover;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
.close_btn.dark{
    background: url(../img/icon/close.png) no-repeat center;
    background-size: cover;
}
.header_title{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    transition: all 3s ease;
/*     background: rgba(255, 200, 23, .35); */
}
.header_title.hide{
    opacity: 0;
}
.header_title_bg{
    position: relative;
    float: left;
    background-color: rgba(255, 255, 255, .55);
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: title_bg .7s ease-in-out;
    box-shadow: 13px 13px 3px rgba(41, 130, 0, 0.75);
}
.header_title_bg.dark{
    background-color: rgba(255, 255, 255, .3);
    box-shadow: 13px 13px 3px rgb(130 0 0 / 30%);
}
.header_title_bg p{
    font-family: 'Bebas Neue', cursive;
    font-size: 7.5em;
    color: #298200;
    line-height: 0.9em;
    text-shadow: 0px 5px 4px white;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1.5s ease;
}
.header_title_bg p.dark{
    color: #ef9d9d;
    text-shadow: 0px 5px 4px #820000;
}
.header_title_bg p.show{
    opacity: 100%;
    transform: translateY(0);
}
.header_title_bg:before{
    content: '';
    position: absolute;
    top: 10px;
    left: -15px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    animation: title_line 1.3s linear forwards;
    animation-delay: 1s;
}
/* .header_title:hover:before{
    animation: title_line 1s linear forwards;
} */
.header_title_bg:after{
    content: '';
    position: absolute;
    top: -15px;
    left: 10px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    animation: title_line_2 1.3s linear forwards;
    animation-delay: 2.3s;
}
/* .header_title:hover:after{
    animation: title_line_2 1s linear forwards;
    animation-delay: 1s;
} */
.view_mode_wrapper{
    position: absolute;
    float: left;
    width: 100%;
    bottom: 50px;
    z-index: 2;
}
.change_mode{
    position: relative;
    float: right;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    width: 135px;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.change_mode.hide{
    opacity: 0;
}
.dark_mode{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #243224;
    color: white;
    border-radius: 17.5px;
    transition: all .3s ease-in-out;
    visibility: hidden;
}
.dark_mode.show{
    visibility: visible;
}
.dark_mode:hover{
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.35); 
}
.light_mode{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 17.5px;
    color: black;
    transition: all .3s ease-in-out;
    visibility: hidden;
}
.light_mode.show{
    visibility: visible;
}
.light_mode:hover{
    box-shadow: 7px 7px 0 0 rgba(255, 255, 255, 0.35);
}
.about_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .70);
/*     display: none; */
    opacity: 0;
    transition: all 1.5s ease-in-out;
    z-index: -1;
}
.about_wrapper.show{
    z-index: 0;
    opacity: 100%;
}
.about{
    position: relative;
    float: left;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.about.show{
    transform: translate(-50%, -50%);
    opacity: 100%;
}
.text_box{
    position: relative;
    float: left;
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
    width: 700px;
    text-align: center;
}
.text_box.dark{
    float: right;
}
.about_title{
    font-size: 4em;
    font-weight: bold;
}
.profile_img{
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    margin: 20px 0 50px 0;
}
.profile_img img{
    height: 100%;
}
.nickname{
    position: relative;
    float: left;
    width: 100%;
    font-size: 2.875em;
    margin-bottom: 75px;
}
.introduce{
    position: relative;
    float: left;
    font-size: 2.875em;
    line-height: 1.2em;
}
.return{
    position: absolute;
    float: left;
    width: 1200px;
    left: 50%;
    height: 70px;
    margin-top: 50px;
    transform: translateX(-50%);
}
.return_arrow{
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
}
.contents{
    position: relative;
    float: left;
    width: 100%;
    min-height: 100vh;
    background: rgb(205,205,205);
    background: linear-gradient(360deg, rgba(205,205,205,1) 0%, rgba(242,242,242,1) 45%, rgba(252,252,252,1) 55%, rgba(207,255,185,1) 100%);
}
.contents.dark{
    background: rgb(153 115 115);
    background: linear-gradient(360deg, rgb(153 115 115) 0%, rgba(0,0,0,1) 100%);
}
.classification{
    position: relative;
    float: left;
    width: 100%;
}
.classification_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.classification_list{
    position: relative;
    float: left;
    margin: 130px 0 90px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 1em;
}
.classification_list.dark{
    color: white;
}
.classification_list li{
    position: relative;
    float: left;
    margin-right: 40px;
    cursor: pointer;
}
.selected{
   font-weight: bold;
   color: #298200;
}
.selected_dark{
    font-weight: bold;
   color: #eb4444;
}
.classification_list li:last-child{
    margin-right: 0;
}
.classification_list li:hover{
    color: #298200;
}
.classification_list li.dark:hover{
    color: #eb4444;
}
.works{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 150px;
}
.works_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.total{
    position: relative;
    float: left;
    text-align: right;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: 1em;
    font-family: 'Slabo 27px', serif;
}
.total.dark{
    color: white;
}
.works_list{
    position: relative;
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 60px;
    column-gap: 60px;
    justify-items: center;
}
.img_box{
    position: relative;
    float: left;
    width: 350px;
    height: 380px;
    border: 1.5px solid #B7EF9D;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
}
.img_box.dark{
    border: 1.5px solid #ef9d9d;
}
.img_box.zoom{
    opacity: 0;
}
.img_box:hover{
    transform: translate(-7px, -5px);
    box-shadow: 10px 7px 10px rgba(0, 0, 0, .5);
}
.img_box.dark:hover{
    box-shadow: 10px 7px 10px rgb(239 157 157 / 50%);
}
.img_box:hover:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}
.img_box img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 150%;
    transition: all .3s ease;
    z-index: 1;
}
.img_box img.hover{
    transform: translate(-50%, -40%) scale(1.07);
}
.works_list.all{ display: none; }
.works_list.all.show{ display: grid; }
.works_list.ld{ display: none; }
.works_list.ld.show{ display: grid; }
.works_list.sd{ display: none; }
.works_list.sd.show{ display: grid; }
.works_list.etc{ display: none; }
.works_list.etc.show{ display: grid; }
.view_image_wrapper{
    position: fixed;
    float: left;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    opacity: 0;
    transition: all .5s ease-in-out;
    transition-delay: .2s;
}
.view_image_wrapper.show{
    z-index: 2;
    opacity: 100%;
}
.view_img{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.view_img_box{
    position: relative;
    height: 80vh;
    width: 100%;
}
.view_img_box img{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
.work_date{
    position: relative;
    float: left;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size: 1.125em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    letter-spacing: .5px;
}
.return_works{
    position: fixed;
    top: 30px;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.return_works.show{
    display: block;
    z-index: 3;
}
.return_arrow2{
    position: relative;
    float: right;
    height: 50px;
    cursor: pointer;
}
.top_btn_wrapper{
    position: fixed;
    float: left;
    bottom: 0;
    width: 1350px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
/*     display: none; */
    transition: all 0.7s ease;
}
.top_btn_wrapper.show{
    bottom: 150px;
    opacity: 100%;
/*     display: block; */
}
.top_btn{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../img/icon/top_arrow.png) no-repeat center;
    background-size: 35px;
    background-color: #298200;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
    border: 1.5px solid rgba(255, 255, 255, .35);
}
.top_btn.dark{
    background-color: #ff4242;
}
.main_btn_wrapper{
    position: fixed;
    float: left;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.7s ease;
    z-index: -1;
    background-color: rgba(255, 255, 255, .55);
}
.main_btn_wrapper.dark{
    background-color: rgba(0, 0, 0, .75);
}
.main_btn_inner_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    padding: 7px;
}
.main_btn_wrapper.show{
    opacity: 1;
    z-index: 1;
}
.contents_logo{
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    font-family: 'Slabo 27px', serif;
    font-size: 2.625em;
    z-index: 1;
}
.contents_logo a{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #298200;
    text-decoration: none;
    transition: all .5s ease-in-out;
}
.contents_logo a.dark{
    color: #eb4444;
}
.contents_logo_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #298200;
    box-sizing: border-box;
}
.contents_logo_bg.dark{
    border: 2px solid #eb4444;
}
.contents_logo_bg.rotate{
    animation: logo_rotate 2s linear infinite;
}
.contents_change_mode{
    position: relative;
    float: left;
    margin-left: 20px;
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    width: 135px;
    height: 35px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}
.contents_change_dark_mode{
    position: absolute;
    float: left;
    top: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17.5px;
    transition: all .3s ease-in-out;
    color: white;
    background: #243224;
    visibility: hidden;
}
.contents_change_dark_mode.show{
    visibility: visible;
}
.contents_change_dark_mode:hover{
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.35); 
}
.contents_change_light_mode{
    position: absolute;
    float: left;
    top: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17.5px;
    transition: all .3s ease-in-out;
    color: black;
    background: white;
    visibility: hidden;
}
.contents_change_light_mode.show{
    visibility: visible;
}
.contents_change_light_mode:hover{
    box-shadow: 7px 7px 0 0 rgba(255, 255, 255, 0.35);
}

/* .main_btn{
    position: relative;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../img/icon/main.png) no-repeat center;
    background-size: 40px;
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1.5px solid rgba(41, 130, 0, .5);
    cursor: pointer;
    display: none;
}
.main_btn.dark{
    background: url(../img/icon/main_dark.png) no-repeat center;
    background-size: 40px;
    background-color: white;
    border: 1.5px solid rgb(130 0 0 / 50%);
} */
.top_btn:hover{
    animation: top_btn_animation 0.7s linear infinite;
}
footer{
    position: relative;
    float: left;
    width: 100%;
    background-color: #A4A4A4;
}
footer.dark{
    background-color: #000e01;
}
.footer_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    height: 85px;
    left: 50%;
    transform: translateX(-50%);
}
.footer_wrapper p{
    position: relative;
    float: right;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 1.25em;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 5px #ff4242;
}
.footer_wrapper p:before{
    content: '';
    position: absolute;
    left: -50px;
    top: -13px;
    width: 45px;
    height: 45px;
    background: url(../img/graha.png) no-repeat center;
    background-size: cover;
}
.made_by{
    font-weight: bold;
    color: #ff4242;
}
.dark_bg{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    z-index: -1;
    transition: all .5s ease-in-out;
}
.dark_bg.show{
    opacity: 100%;
    z-index: 1;
}
.return_bg{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    display: none;
}
.return_bg.show{
    display: block;
}
.ball{
    pointer-events: none;
    position: absolute; 
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: gray;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
    opacity: .15;
    transition: all .5s ease;
    z-index: 2;
}
.ball.dark{
    opacity: .35;
}
.star_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.star_bg:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.star{
    position: absolute;
    bottom: 0;
    animation: starAnimate linear infinite;
    background-color: white;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 1px 2px rgba(255, 255, 255, .15);
}
.star_light{
    position: absolute;
    bottom: 0;
    animation: starAnimate linear infinite;
    background-color: green;
    opacity: 0;
    z-index: 1;
    box-shadow: 0 0 1px 2px rgba(0, 128, 0, .15);
}