@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    position: relative;
    float: left;
    width: 100%;
    background-color: #E5E5E5;
}
body::-webkit-scrollbar{ display: none; }
body.scrolllock{
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.7);
}
.hidden{
    width: 1px;
    height: 1px;
    position: absolute;
    font-size: 0;
    line-height: 0;
}
header{
    position: relative;
    float: left;
    width: 100%;
    overflow: hidden;
    background-color: #B7EF9D;
    background: rgb(0,0,0);
    background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,14,1,1) 55%);
}
header.dark{
    background-color: #000e01;
}
header.scrolllock{
    height: 100vh;
}
.header_bg_img{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    background: url(../img/etc/etc6.png) no-repeat right;
    mix-blend-mode: darken;
    
    background: url(../img/main_bg_dark.png) no-repeat right;
    mix-blend-mode: exclusion;
   
    background-size: contain;
    opacity: .85;
    animation: header_bg_img 6s linear;
}
.header_bg_img.dark{
    mix-blend-mode: exclusion;
    background: url(../img/main_bg_dark.png) no-repeat right;
}
.header_wrapper{
    position: relative;
    float: left;
    margin-top: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
}
.logo{
    position: relative;
    float: left;
    width: 48px;
    height: 48px;
    font-family: 'Slabo 27px', serif;
    font-size: 2.625em;
}
.logo a{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #298200;
    text-decoration: none;
}
.logo_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border: 2px solid #298200;
    box-sizing: border-box;
}
.logo_bg.rotate{
    animation: logo_rotate 2s linear infinite;
}
.pc_nav{
    position: relative;
    float: right;
    font-family: 'Elsie Swash Caps', cursive;
    font-weight: 400;
    font-size: 1em;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, .75);
    width: 400px;
    height: 35px;
    opacity: 0;
    animation: nav_animation 1.7s linear;
    animation-delay: 3.3s;
}
.pc_nav.dark{
    background-color: rgba(255, 255, 255, .75);
}
.pc_nav.show{
    opacity: 100%;
}
.main_menu{
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu li{
    position: relative;
    float: left;
    margin-right: 40px;
    width: 100%;
    text-align: center;
}
.main_menu li:last-child{
    margin-right: 0;
}
.main_menu li:hover{
    cursor: pointer;
    font-weight: bold;
}
.main_menu li a{
    color: black;
    text-decoration: none;
}
.header_title{
    position: relative;
    float: left;
    width: 100%;
    margin-top: 300px;
    transition: all 3s ease;
}
.header_title.hide{
    opacity: 0;
}
.header_title_bg{
    position: relative;
    float: left;
    background-color: rgba(255, 255, 255, .55);
    background-color: rgba(255, 255, 255, .3);
    width: 600px;
    height: 300px;
    left: 50%;
    transform: translateX(-50%);
    animation: title_bg .7s ease-in-out;
}
.header_title_bg.dark{
    background-color: rgba(255, 255, 255, .3);
}
.header_title_bg p{
    font-family: 'Bebas Neue', cursive;
    font-size: 7.5em;
    color: #298200;
    color: #B7EF9D;
    line-height: 0.9em;
    text-shadow: 0px 5px 4px white;
    text-shadow: 0px 5px 4px #298200;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    opacity: 0;
    transform: translateY(-30px);
    transition: all 1.5s ease;
}
.header_title_bg p.dark{
    color: #B7EF9D;
    text-shadow: 0px 5px 4px #298200;
}
.header_title_bg p.show{
    opacity: 100%;
    transform: translateY(0);
}
.header_title_bg:before{
    content: '';
    position: absolute;
    top: 10px;
    left: -15px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    animation: title_line 1.3s linear forwards;
    animation-delay: 1s;
}
/* .header_title:hover:before{
    animation: title_line 1s linear forwards;
} */
.header_title_bg:after{
    content: '';
    position: absolute;
    top: -15px;
    left: 10px;
    width: 0;
    height: 0;
    background: transparent;
    border: 2px solid transparent;
    animation: title_line_2 1.3s linear forwards;
    animation-delay: 2.3s;
}
/* .header_title:hover:after{
    animation: title_line_2 1s linear forwards;
    animation-delay: 1s;
} */
.view_mode_wrapper{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 300px;
    margin-top: 18px;
}
.change_mode{
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Slabo 27px', serif;
    font-size: 1em;
    width: 135px;
    height: 35px;
    cursor: pointer;
}
.dark{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #243224;
    color: white;
    border-radius: 17.5px;
    transition: all .3s ease-in-out;
    visibility: hidden;
}
.dark.show{
    visibility: visible;
}
.dark:hover{
    box-shadow: 7px 7px 0 0 rgba(0, 0, 0, 0.35); 
}
.light{
    position: absolute;
    float: left;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 17.5px;
    color: black;
    transition: all .3s ease-in-out;
    visibility: hidden;
}
.light.show{
    visibility: visible;
}
.light:hover{
    box-shadow: 7px 7px 0 0 rgba(255, 255, 255, 0.35);
}
.about_wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .70);
/*     display: none; */
    opacity: 0;
    transition: all 1.5s ease-in-out;
    z-index: -1;
}
.about_wrapper.show{
    z-index: 0;
    opacity: 100%;
}
.about{
    position: relative;
    float: left;
    width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    opacity: 0;
    transition: all 1s ease-in-out;
}
.about.show{
    transform: translate(-50%, -50%);
    opacity: 100%;
}
.text_box{
    position: relative;
    float: left;
    font-family: 'Elsie Swash Caps', cursive;
    color: white;
    width: 700px;
    text-align: center;
}
.about_title{
    font-size: 4em;
    font-weight: bold;
}
.profile_img{
    position: relative;
    float: left;
    width: 100%;
    height: 120px;
    margin: 20px 0 50px 0;
}
.profile_img img{
    height: 100%;
}
.nickname{
    position: relative;
    float: left;
    width: 100%;
    font-size: 2.875em;
    margin-bottom: 75px;
}
.introduce{
    position: relative;
    float: left;
    font-size: 2.875em;
    line-height: 1.2em;
}
.return{
    position: absolute;
    float: left;
    width: 1200px;
    left: 50%;
    height: 70px;
    margin-top: 50px;
    transform: translateX(-50%);
}
.return_arrow{
    position: absolute;
    right: 0;
    height: 100%;
    cursor: pointer;
}
.contents{
    position: relative;
    float: left;
    width: 100%;
    background: rgb(205,205,205);
    background: linear-gradient(360deg, rgba(205,205,205,1) 0%, rgba(242,242,242,1) 45%, rgba(252,252,252,1) 55%, rgba(207,255,185,1) 100%);
    background: rgb(127,153,115);
    background: linear-gradient(360deg, rgba(127,153,115,1) 0%, rgba(0,0,0,1) 100%);
}
.contents.dark{
    background: rgb(127,153,115);
    background: linear-gradient(360deg, rgba(127,153,115,1) 0%, rgba(0,0,0,1) 100%);
}
.classification{
    position: relative;
    float: left;
    width: 100%;
}
.classification_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.classification_list{
    position: relative;
    float: left;
    margin: 130px 0 90px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Elsie Swash Caps', cursive;
    font-size: 1em;
    color: white;
}
.classification_list.dark{
    color: white;
}
.classification_list li{
    position: relative;
    float: left;
    margin-right: 40px;
    cursor: pointer;
}
.selected{
   font-weight: bold;
   color: #298200;
}
.classification_list li:last-child{
    margin-right: 0;
}
.classification_list li:hover{
    color: #298200;
}
.works{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 150px;
}
.works_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.total{
    position: relative;
    float: left;
    text-align: right;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    width: 100%;
    font-size: 1em;
    font-family: 'Slabo 27px', serif;
}
.works_list{
    position: relative;
    float: left;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 60px;
    column-gap: 60px;
    justify-items: center;
}
.img_box{
    position: relative;
    float: left;
    width: 350px;
    height: 380px;
    border: 1.5px solid #B7EF9D;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
}
.img_box:hover{
    transform: translate(-7px, -5px);
    box-shadow: 10px 7px 10px rgba(0, 0, 0, .5);
    box-shadow: 10px 7px 10px rgba(183, 239, 157, .5);
}
.img_box:hover:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .5);
    z-index: 1;
}
.img_box img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    height: 150%;
    transition: all .3s ease;
    z-index: 1;
}
.img_box img.hover{
    transform: translate(-50%, -40%) scale(1.07);
}
.works_list.all{ display: none; }
.works_list.all.show{ display: grid; }
.works_list.ld{ display: none; }
.works_list.ld.show{ display: grid; }
.works_list.sd{ display: none; }
.works_list.sd.show{ display: grid; }
.works_list.etc{ display: none; }
.works_list.etc.show{ display: grid; }
.top_btn_wrapper{
    position: fixed;
    float: left;
    bottom: 150px;
    width: 1350px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.7s ease;
}
.view_image_wrapper{
    position: fixed;
    float: left;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}
.view_image_wrapper.show{
    z-index: 2;
}
.view_img{
    position: relative;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
}
.view_img_box{
    position: relative;
    height: 80vh;
    width: 100%;
}
.view_img_box img{
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
.work_date{
    position: relative;
    float: left;
    color: white;
    font-family: 'Slabo 27px', serif;
    font-size: 1.125em;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    letter-spacing: .5px;
}
.return_works{
    position: fixed;
    top: 30px;
    float: left;
    width: 1200px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.return_works.show{
    display: block;
    z-index: 3;
}
.return_arrow2{
    position: relative;
    float: right;
    height: 50px;
    cursor: pointer;
}
.top_btn_wrapper.show{
    opacity: 100%;
}
.top_btn{
    position: absolute;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(../img/icon/top_arrow.png) no-repeat center;
    background-size: 35px;
    background-color: #298200;
    border-radius: 5px;
    cursor: pointer;
}
.top_btn:hover{
    animation: top_btn_animation 0.7s linear infinite;
}
footer{
    position: relative;
    float: left;
    width: 100%;
    background-color: #A4A4A4;
    background-color: #000e01;
}
footer.dark{
    background-color: #000e01;
}
.footer_wrapper{
    position: relative;
    float: left;
    width: 1200px;
    height: 85px;
    left: 50%;
    transform: translateX(-50%);
}
.footer_wrapper p{
    position: relative;
    float: right;
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 1.25em;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 0 0 5px black;
}
.footer_wrapper p:before{
    content: '';
    position: absolute;
    left: -50px;
    top: -13px;
    width: 45px;
    height: 45px;
    background: url(../img/graha.png) no-repeat center;
    background-size: cover;
}
.made_by{
    font-weight: bold;
    color: #ff4242;
}
.dark_bg{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}
.dark_bg.show{
    z-index: 1;
}
.return_bg{
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 2;
    display: none;
}
.return_bg.show{
    display: block;
}
.ball {
    pointer-events: none;
    position: absolute; 
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: gray;
    animation: implode 1s ease-in-out;
    animation-fill-mode: both;
    opacity: .15;
    opacity: .35;
    transition: all .5s ease;
    z-index: 2;
}
.ball{
    opacity: .35;
}
.star_bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.star_bg:after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
    position: absolute;
    bottom: 0;
}
.star{
    position: absolute;
    bottom: 0;
/*     width: 1px;
    height: 1px; */
    animation: starAnimate linear infinite;
    background-color: white;
    opacity: 0;
    z-index: 1;
}